@keyframes float-in {
    0% {
        transform: translateY(0.5rem);
        opacity: 0;
    }
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes float-out {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
	100% {
		transform: translateY(0.5rem);
		opacity: 0;
	}
}

.page-content {
    .headerlink {
        display: inline-block;
        text-decoration: none;
        margin-left: 0.8rem;
        color: inherit;
        opacity: 0;
        &:hover {
            animation: float-in 0.2s $animation-curve-fast-out-slow-in 0s forwards;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        .toc-backref {
            text-decoration: none;
        }
        &:hover {
            .headerlink {
                animation: float-in 0.2s $animation-curve-fast-out-slow-in 0s forwards;
            }
        }
    }

    h1 {
        font-size: 2rem;
        line-height: 2.25rem;
    }

    h2 {
        font-size: 1.75rem;
        line-height: 2rem;
        padding-top: 1.5rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 1.75rem;
        padding-top: 1rem;
        margin-top: 0px;
        margin-bottom: .75rem;
    }

    h4 {
        font-size: 1.25rem;
        line-height: 1.5rem;
        padding-top: .75rem;
        margin-top: 0px;
        margin-bottom: .5rem;
    }

    div.page-content h5 {
        font-size: 1.1rem;
        line-height: 1.5rem;
        padding-top: 2rem;
        margin-top: 0px;
        margin-bottom: 1rem;
    }

    div.page-content h6 {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-top: 2rem;
        margin-top: 0px;
        margin-bottom: 1rem;
    }


}
