# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*~

# doc
doc/html
doc/latex
doc/doc

#dmlc
config.mk

*.pyc
.Rhistory
*log
Debug
*suo
tracker

# vim
*.swp
*.swo
*.swn
.vimrc
.ycm_extra_conf.py
.ycm_extra_conf.pyc

# Emacs
.#*
.clang_complete
.dir-locals.el
__pycache__
*.pkl
*.params
*.json
*.d
build
data
recommonmark
bin
deps

# R
*.Rcheck
*.rds
*.Rproj
.Rproj.user
R-package/inst/*
*.tar.gz

# data
*.rec
*.lst
*.zip
*ubyte
*.bin

# ipython notebook
example/notebooks/.ipynb_checkpoints/*
*_pb2.py


# Scala package
# Jetbrain
scala-package/.idea

# ctags
scala-package/tags

scala-package/*.class
scala-package/*.log

# sbt specific
scala-package/.cache
scala-package/.lib/
scala-package/dist/*
scala-package/target/
scala-package/lib_managed/
scala-package/src_managed/
scala-package/project/boot/
scala-package/project/plugins/project/

#scala target folders
scala-package/*/target/
scala-package/*/*/target/

#eclipse
.classpath
.project
.settings

# IDE specific
.scala_dependencies
.worksheet
.idea
*.iml