# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*~
dmlc-core
mshadow
config.mk

*.pyc
.Rhistory
*log
Debug
*suo

# vim
*.swp
*.swo
*.swn
