[submodule "mshadow"]
	path = mshadow
	url = https://github.com/dmlc/mshadow.git
[submodule "dmlc-core"]
	path = dmlc-core
	url = https://github.com/dmlc/dmlc-core.git
[submodule "ps-lite"]
	path = ps-lite
	url = https://github.com/dmlc/ps-lite
[submodule "nnvm"]
	path = nnvm
	url = https://github.com/dmlc/nnvm
[submodule "dlpack"]
	path = dlpack
	url = https://github.com/dmlc/dlpack
[submodule "3rdparty/openmp"]
	path = 3rdparty/openmp
	url = https://github.com/llvm-mirror/openmp
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "3rdparty/mkldnn"]
	path = 3rdparty/mkldnn
	url = https://github.com/intel/mkl-dnn.git
	branch = master
[submodule "3rdparty/cub"]
	path = 3rdparty/cub
	url = https://github.com/dmlc/cub
[submodule "3rdparty/nnpack/NNPACK"]
	path = 3rdparty/nnpack/NNPACK
	url = https://github.com/Maratyszcza/NNPACK
[submodule "3rdparty/nnpack/FP16"]
	path = 3rdparty/nnpack/FP16
	url = https://github.com/Maratyszcza/FP16
[submodule "3rdparty/nnpack/FXdiv"]
	path = 3rdparty/nnpack/FXdiv
	url = https://github.com/Maratyszcza/FXdiv
[submodule "3rdparty/nnpack/cpuinfo"]
	path = 3rdparty/nnpack/cpuinfo
	url = https://github.com/Maratyszcza/cpuinfo
[submodule "3rdparty/nnpack/psimd"]
	path = 3rdparty/nnpack/psimd
	url = https://github.com/Maratyszcza/psimd
[submodule "3rdparty/nnpack/pthreadpool"]
	path = 3rdparty/nnpack/pthreadpool
	url = https://github.com/Maratyszcza/pthreadpool
[submodule "3rdparty/nnpack/PeachPy"]
	path = 3rdparty/nnpack/PeachPy
	url = https://github.com/Maratyszcza/PeachPy
[submodule "3rdparty/nnpack/six"]
	path = 3rdparty/nnpack/six
	url = https://github.com/benjaminp/six
[submodule "3rdparty/nnpack/enum34"]
	path = 3rdparty/nnpack/enum34
	url = https://github.com/PeachPy/enum34
[submodule "3rdparty/nnpack/Opcodes"]
	path = 3rdparty/nnpack/Opcodes
	url = https://github.com/Maratyszcza/Opcodes
