[submodule "3rdparty/mshadow"]
	path = 3rdparty/mshadow
	url = https://github.com/dmlc/mshadow.git
[submodule "3rdparty/dmlc-core"]
	path = 3rdparty/dmlc-core
	url = https://github.com/dmlc/dmlc-core.git
[submodule "3rdparty/ps-lite"]
	path = 3rdparty/ps-lite
	url = https://github.com/dmlc/ps-lite
[submodule "3rdparty/dlpack"]
	path = 3rdparty/dlpack
	url = https://github.com/dmlc/dlpack
[submodule "3rdparty/openmp"]
	path = 3rdparty/openmp
	url = https://github.com/llvm-mirror/openmp
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "3rdparty/mkldnn"]
	path = 3rdparty/mkldnn
	url = https://github.com/intel/mkl-dnn.git
	branch = master
[submodule "3rdparty/cub"]
	path = 3rdparty/cub
	url = https://github.com/dmlc/cub
[submodule "3rdparty/tvm"]
	path = 3rdparty/tvm
	url = https://github.com/dmlc/tvm
[submodule "3rdparty/onnx-tensorrt"]
	path = 3rdparty/onnx-tensorrt
	url = https://github.com/onnx/onnx-tensorrt.git
