# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*~

# doc
doc/html
doc/latex
doc/doc

#dmlc
config.mk

*.pyc
.Rhistory
*log
Debug
*suo

# vim
*.swp
*.swo
*.swn

# Emacs
.clang_complete
.dir-locals.el
__pycache__
*.pkl

*.d
build
dmlc-core
mshadow
