stages:
  - base
  - test
  - tag

variables:
  BASE_IMAGE: bmxnet2-base/build.ubuntu_cpu
  BASE_TEMPORARY_IMAGE: bmxnet2-base/build.ubuntu_cpu:$CI_PIPELINE_ID
  BASE_LATEST_IMAGE: bmxnet2-base/build.ubuntu_cpu:latest

build_base_image:
  stage: base
  image: docker:stable
  before_script:
    - docker info
  script:
    - cd ci
    - docker build -f docker/Dockerfile.build.ubuntu_cpu --build-arg USER_ID=1000 --build-arg GROUP_ID=1000 --cache-from $BASE_IMAGE -t $BASE_TEMPORARY_IMAGE docker

build_and_test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  stage: test
  image: $BASE_TEMPORARY_IMAGE
  before_script:
    - ls && pwd
    - export PYTHONPATH=./python/
    - export MXNET_MKLDNN_DEBUG=1  # Ignored if not present
    - export MXNET_STORAGE_FALLBACK_LOG_VERBOSE=0
    - python --version
  script:
    - make DEV=1 USE_CPP_PACKAGE=1 USE_BLAS=openblas USE_DIST_KVSTORE=1 -j$(nproc)
    - pytest tests/python/unittest/test_binary.py

tag_image:
  stage: tag
  image: docker:stable
  script:
    - docker tag $BASE_TEMPORARY_IMAGE $BASE_LATEST_IMAGE
    - docker image rm $BASE_TEMPORARY_IMAGE
  only:
    - master
