# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor 
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                @thirdwing
/scala-package/            @yzhliu @nswamy
/perl-package/             @sergeykolychev
/python/                   @szha
/contrib/clojure-package/  @gigasquid

# C++ base
/src/kvstore/     @rahul003 @anirudh2290
/include/         @anirudh2290
/src/c_api/       @anirudh2290
/src/common/      @anirudh2290
/src/engine/      @anirudh2290
/src/executor/    @anirudh2290
/src/imperative/  @anirudh2290
/src/io/          @anirudh2290
/src/ndarray/     @anirudh2290
/src/nnvm/        @anirudh2290
/src/operator/    @anirudh2290
/src/profiler/    @anirudh2290
/src/storage/     @anirudh2290
/tests/cpp/       @anirudh2290
/cpp-package/ @nswamy

# CMake
CMakeLists.txt    @szha @rahul003
/cmake/           @szha @rahul003

# MXNet CI
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu
.travis.yml         @marcoabreu
appveyor.yml        @marcoabreu

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha

# Tools
/tools/           @szha

# Github templates
/.github/         @szha

