# Owners of Apache MXNet

# Global owners
*			@apache/mxnet-committers

# Owners of language bindings
/R-package/		@thirdwing
/scala-package/		@yzhliu
/perl-package/		@sergeykolychev

# CMake owners
CMakeLists.txt		@cjolivier01
/cmake/			@cjolivier01

# Owners of MXNet CI
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu
.travis.yml         @marcoabreu
appveyor.yml        @marcoabreu
