# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

d-i debian-installer/locale string en_US
d-i keyboard-configuration/xkb-keymap select us
d-i netcfg/get_hostname string debian-qemu
d-i netcfg/get_domain string lab
d-i passwd/root-login boolean true
d-i passwd/root-password password debian
d-i passwd/root-password-again password debian
d-i clock-setup/utc boolean true
d-i	mirror/country	string	US
d-i	mirror/https/proxy	string
d-i	mirror/http/proxy	string
d-i	mirror/ftp/proxy	string
d-i	mirror/http/countries	select	US
d-i	mirror/http/hostname	string	ftp.us.debian.org
d-i	mirror/http/mirror	select	ftp.us.debian.org
d-i	localechooser/preferred-locale	select	en_US.UTF-8
apt-mirror-setup	apt-setup/use_mirror	boolean	false
apt-mirror-setup	apt-setup/mirror/error	select	Retry
d-i passwd/username string qemu
d-i passwd/user-password password qemu
d-i passwd/user-password-again password qemu
user-setup-udeb	passwd/username	string	qemu
user-setup-udeb	passwd/user-fullname	string qemu
d-i time/zone string GMT
d-i partman-auto/choose_recipe select atomic
#partman-auto	partman-auto/select_disk	select	/var/lib/partman/devices/=dev=vda
#partman-auto	partman-auto/automatically_partition	select
#partman-target	partman-target/no_root	error	
#partman-auto	partman-auto/init_automatically_partition	select	50some_device__________regular
#partman-auto	partman-auto/disk	string vda
#partman-auto partman-auto/expert_recipe string                \
#      boot-root ::                                            \
#		100 10000 1000000000 ext4                             \
#				$primary{ }                                   \
#                lv_name{ root }                               \
#				method{ format }                              \
#				format{ }                                     \
#				use_filesystem{ }                             \
#				filesystem{ ext4 }                            \
#				mountpoint{ / } .
#
#d-i partman-partitioning/confirm_write_new_label boolean true
#d-i partman/choose_partition select finish
#d-i partman/confirm boolean true
#d-i partman/confirm_nooverwrite boolean true
#partman-base	partman/choose_partition	select	90finish__________finish
#partman-basicfilesystems	partman-basicfilesystems/swap_check_failed	boolean
d-i	popularity-contest/participate	boolean	false
d-i	tasksel/first	multiselect	SSH server, standard system utilities
d-i	debian-installer/main-menu	select	Finish the installation
d-i debian-installer/exit/poweroff boolean true
