.localtoc {
    font-size: 0.75rem;
    padding-top: 1rem;

    .caption {
        padding-left: 12px;
        &-text {
            font-size: 0.9rem;
            font-weight: 700;
        }
    }

    > ul > li > a {
        display: none;
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    li {
        padding-left: 6px;
    }

    a {
        display: block;
        text-decoration: none;
        color: inherit;
        margin-top: 8px;
        padding-left: 8px;
        line-height: 1.1rem;
    
        &.current {
            padding-left: 5px;
            border-left: 3px solid;
            font-weight: bold;
        }
    }
}