# Requirements for tests, those are installed before running on the virtualenv
# Requirements for tests run within the qemu requirement see ci/qemu/test_requirements.txt
mock
nose
nose-timer
ipython
numpy>=1.16.0,<1.19.2  # Allow default numpy version to advance to 1.19.1 due to CVE's.
scipy<1.7.0 # Restrict scipy version due to https://github.com/apache/incubator-mxnet/issues/20389
onnxruntime
packaging
