# Requirements for tests, those are installed before running on the virtualenv
# Requirements for tests run within the qemu requirement see ci/qemu/test_requirements.txt
mock
nose
nose-timer
ipython
# Allow numpy version as advanced as 1.19.5 to avoid CVE-2021-41495 and CVE-2021-41496 affecting <1.19.1.
numpy>=1.16.0,<1.20.0
scipy<1.7.0 # Restrict scipy version due to https://github.com/apache/mxnet/issues/20389
onnxruntime
packaging
