/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
data/*
model/*
*~
*.params
*.states
*.json
examples/module/data/*
examples/module/target/*
examples/rnn/data/char_lstm.zip
examples/rnn/data/obama.txt
examples/pre-trained-models/caltech-256/caltech-256-60-train.rec
examples/pre-trained-models/caltech-256/caltech-256-60-val.rec
examples/pre-trained-models/model/synset.txt
examples/pre-trained-models/test-image.jpg
examples/imclassification/data/*
examples/gan/data/*
examples/gan/results/*
examples/cnn-text-classification/data/glove/*
examples/cnn-text-classification/data/mr-data/*
examples/multi-label/data/mnist.zip
examples/multi-label/data/t10k-images-idx3-ubyte
examples/multi-label/data/t10k-labels-idx1-ubyte
examples/multi-label/data/train-images-idx3-ubyte
examples/multi-label/data/train-labels-idx1-ubyte
examples/visualization/test-vis/*
examples/visualization/test-vis.pdf
.DS_Store
src/.DS_Store
src/org/.DS_Store
test/test-ndarray.clj
test/test-symbol.clj
src/org/apache/clojure_mxnet/gen/*

