/*
 * Drawer Styles
 */
.mdl-layout {
    &__drawer {
        background-color: #fff;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, .3);
            border-radius: 6px;
            box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
        }

        > .mdl-layout-title {
            font-weight: bold;
            text-align: right;
            margin: 0;
            padding: 0;
            line-height: 32px;
            border-bottom: 1px solid rgba(0,0,0,.1);
            min-height: 64px;
            .title {
                color: inherit;
                display: block;
                height: 100%;
                width: 100%;
                text-decoration: none;
                > img.logo {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                }

                &-text {
                    font-weight: bold;
                    text-align: right;
                    padding: 0 10px;
                    margin: 16px 0 8px 0;
                    line-height: 32px;
                    font-family: $body_font_family;
                    color: inherit;
                    display: block;
                }
            }
        }
    }
}
