/* Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License. */

.docs-logo-docs {
  width: 25px;
  padding-bottom: 4px;
  margin-right: 10px;
}

.docs-logo-container {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;

  img.docs-logo-image {
    height: 75px;
    margin: auto;
  }
}

.docs-side-bar {
  margin-left: 0px !important;
  padding-right: 10px;
  background-color: $grey-color-light;
}

.docs-hero {
  margin-bottom: 20px;
}

.docs-hero-left {

}

.docs-hero-right {

}

.docs-card {
  background-color: $grey-color-light;
  padding: 20px;
  height: 100%;
}

.docs-card.docs-side {
  padding: 5px;

  ul {
    margin-left: 0;
  }

  li {
    margin-left: 20px;
  }
}

.docs-action-btn {
  a {
    color: $grey-color-dark;

    &:visited {
      color: $color-mxnet-dark;
    }

    &:hover {
      color: orangered;
    }

  }
}

.docs-faq {
  background-color: $grey-color-light;
  padding-top: 20px;
  padding-bottom: 20px;
}

.docs-architecture {
  background-color: $grey-color-light;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.docs-dev-guide {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.language-binding-banner {
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #856404;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
