.feature-image {
  max-width: 100px;
  filter: grayscale(1);
  margin: auto;
}

.feature-paragraph {
  margin: auto;
}

.feature-title {
  float: left;
  margin-bottom: 0px;
}

.highlight pre {
  box-shadow: inset 0 -2px 0 0 $color-mxnet;
  margin-bottom: 0 !important;
}

figure {
  margin-bottom: 0 !important;
}