/*
 * Header Styles
 */

nav.breadcrumb {
    > a.mdl-navigation__link {
        padding: 0 8px;
        font-size: 18px;
    }
    @media (max-width: $lg-breakpoint - 1) {
        width: calc( 100% - 64px );
        a.mdl-navigation__link.is-active {
            overflow-x: hidden;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        a.mdl-navigation__link:not(.is-active),
        i.material-icons {
            display: none;
        }
    }
}

div.mdl-layout__header {
    margin-top: 77px;
}

.mdl-layout__drawer-button {
    top: 13px !important;
}

div.mdl-layout__header-row.header-links {
    background: rgba(255,255,255,0.2);
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    a.mdl-navigation__link  {
        font-size: 1rem;
        i {
            font-size: 1.2rem;
            margin: 0 8px;
            position: relative;
            bottom: -0.1rem;
        }
    };

    a.mdl-navigation__link:hover  {
        background-color: unquote("rgb(#{$color-primary})");
        color: #eeeeee;
    };
    a.mdl-navigation__link[href="#"]  {
        background-color: unquote("rgb(#{$color-primary})");
        opacity: 1;
        color: #ffffff;
    };
}

/* mxnet-header */


.site-title {
  font-weight: 300 !important;
  line-height: 57px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: white;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}


.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $color-mxnet;
  z-index: 10;
  font-weight: 300;
  font-size: 17px;
  border-bottom: 1px solid white;
}

.site-header-logo {
  width: 120px;
  display: initial;
}

.site-nav {
  float: right;
  line-height: 57px;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: white;
    line-height: 1.5;
    font-weight: 300;
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 40px;
    }

    &:hover {
      color: white;
      text-shadow: -0.06ex 0 white, 0.06ex 0 white;
    }
  }

  .page-link.page-current {
    color: white;
    text-decoration: underline;
  }

  @media screen and (max-width: $on-laptop) {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: rgb(23,141,201);
    border-radius: 2px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 20px;
      text-align: center;

      > svg {
        fill: white;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      padding: 5px 10px;
      display: block;

      &:not(:last-child) {
        margin-right: 0;
      }

      margin-left: 20px;
    }
  }
}