_build/
build/**/*.rst
build/**/*.ipynb
build/**/*.md
__pycache__
/build.sh
_autogen
*.ndarray
*.pickle
/365px-Golden_Retriever_medium-to-light-coat.jpg
/net.params
/synset.txt
*.pt
**/raw/*-ubyte
dogcat
*.tar.gz
*.jpg
*checkpoint.md
*.ipynb_checkpoints*
*.json
