.page-content {
    table:not(.footnote):not(.indextable):not(.hlist):not(.option-list):not(.field-list) {
        @extend .mdl-data-table;
        @extend .mdl-shadow--2dp;

        margin: 1.5rem 0;
        table-layout: fixed;
        max-width: 100%;
        min-width: 70%;

        th, td {
            @extend .mdl-data-table__cell--non-numeric;
            white-space: normal;
            overflow-wrap: break-word;
        }

        caption {
            font-size: $font_size;
            margin: 1rem 0 0.8rem 0;
            white-space: normal;
            .caption-number {
                font-style: normal;
            }
            .caption-number::after {
                content: "\00a0";
            }
        }

    }
}
