.dropdown-option-active {
  color: #ff4500 !important;
  font-weight: lighter;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-header {
  color: #ffffff;
  display: inline-flex;
}

.dropdown-caret {
  width: 18px;
}

.trigger .dropdown-caret {
  height: 57px;
}

.dropdown-caret-path {
  fill: #ffffff;
}
