a.download {
    &:before {
        @extend .material-icons;
        content: "file_download";
        position: relative;
        top: 5px;
        margin-right: 5px;
    }
}

button.download {
    position: sticky;
    margin-left: 1em;
}
